<<<<<<< HEAD
=======
.subscription-table {
  width: 800px;
  margin: 4em auto 0 auto;
}

thead {
  background: rgb(30, 169, 30);
  color: white;
}

tbody {
  text-align: center;
  vertical-align: top;
  padding: 2px;
}

th,
td {
  width: 200px;
  height: 60px;
  vertical-align: middle;
  border: solid 0.5px white;
  text-align: center;
}

td:first-child {
  font-weight: bold;
}

.fst-row {
  background-color: #a5d78e;
}

.sec-row {
  background-color: #cefeb8;
}
>>>>>>> 497c4dc90b75fa1b82f80cff548d8d72b11bd385
