/* Footer */
footer {
  padding: 1.875rem 1.25rem 1.25rem;
  background: linear-gradient(to bottom, #545454 0%, #4f4f4f 50%, #000 100%);
}

.footer-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.footer-info {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: var(--font_size-details);
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .footer-info {
    align-items: center;
    font-size: var(--font_size-description);
  }

  .footer-logo {
    width: 75px;
  }
}

.footer-title {
  font-weight: bold;
}

.social-media .fa {
  padding: 5px;
}

.footer-logo {
  align-items: flex-end;
}

.footer-logo img {
  width: 100%;
  max-width: 9.375rem;
}

.disclaimer {
  width: 100%;
  font-size: 0.75rem;
  padding-top: 1.25rem;
  color: #fff;
  line-height: 1.688rem;
  text-align: center;
}
