.top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: var(--font_size-details);
  z-index: 9999;
  background: no-repeat center linear-gradient(to bottom, black, 85%, #ffffff00);
  color: white;
  padding: 1vh 0;
}

.top-nav .logo {
  flex-basis: 20%;
  height: 100px;
  width: 100px;
  background: no-repeat center/40%
    url("../../images/logo_transparent_white.png");
}

.top-nav .action-menu {
  padding-left: 8%;
  align-content: flex-start;
  flex-basis: 20%;
}

@media (max-width: 768px) {
  .top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 12vh;
  }

  .top-nav .logo {
    flex-basis: 20%;
    background: no-repeat center/70%
      url("../../imageslogo_transparent_white.png");
  }

  .top-nav .action-menu {
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .top-nav .logo {
    flex-basis: 20%;
    background: no-repeat center/50%
      url("../../imageslogo_transparent_white.png");
  }
}
