@font-face {
  font-family: TTNormsPro;
  src: url("../../fonts/TTNormsProRegular.otf") format("opentype");
}

@font-face {
  font-family: TTNormsPro;
  font-weight: bold;
  src: url("../../fonts/TTNormsProBold.otf") format("opentype");
}
