:root {
  --desktop-template: "";
  --tablet-template: "";
  --mobile-template: "";
  --font-family: "TTNormsPro";

  --c_black: #011520;
  --c_green: #8cc63f;
  --c_light-green: #BEF972;
  --c_dark-green: #4e7512;
  --bg_gray: #f3f3f3;

  --font_size-heading: clamp(1.8rem, 2.5vw, 2.2rem);
  --font_size-sub-heading: 1.8rem;
  --font_size-details: 1.2rem;
  --font_size-description: 1rem;
}
