header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

.container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20vh auto 5vh;
  grid-template-areas: "header" "main" "footer";
}
