:root {
  --desktop-template: "";
  --tablet-template: "";
  --mobile-template: "";
  --font-family: "TTNormsPro";

  --c_black: #011520;
  --c_green: #8cc63f;
  --c_dark-green: #4e7512;
  --c_dark-gray: #5d6761;

  --font_size-heading: 2.2rem;
}
