#contact{
    background:no-repeat 100%/100% url("/assets/images/contact_us_background.jpg") rgba(242,234,228,255);
    background-size: cover;
}
#contact-form{
    background:transparent;
    max-width: 60rem;
    height: 80rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.form-title{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-family: 'Nunito Sans',sans-serif;
}
input{
    border: 0 !important;
    outline: 0 !important;
    border-radius: 0% !important;
    background: transparent !important;
    border-bottom: 1px solid black !important;
}