.top-nav {
  margin-top: 2vh;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: var(--font_size-details);
  z-index: 9999;
  background: no-repeat center linear-gradient(to bottom, black, 85%, #ffffff00);
}

.top-nav > * {
  height: 100%;
}

.logo {
  flex-basis: 20%;
  background: no-repeat center/30%
    url("/assets/images/logo_transparent_white.png");
}

.top-nav .action-menu {
  padding-top: 3%;
  padding-left: 8%;
  align-content: flex-start;
  flex-basis: 20%;
}
