.top-nav {
  position: sticky;
  top: 0;
  margin-top: 2vh;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: var(--font_size-details);
  z-index: 9999;
  background: no-repeat center linear-gradient(to bottom, black, 85%, #ffffff00);
}

.top-nav > * {
  height: 100%;
}

.logo {
  flex-basis: 20%;
  background: no-repeat center/30%
    url("/assets/images/logo_transparent_white.png");
  position: relative;
}

.logo > div {
  background: transparent;
  border-radius: 15px;
  border: 2px solid white;
  height: 42%;
  width: 27%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -27%);
}

.top-nav .action-menu {
  padding-top: 3%;
  padding-left: 8%;
  align-content: flex-start;
  flex-basis: 20%;
}
