@import url("/assets/css/_variables.css");
@import url("/assets/css/_layout.css");
@import url("/assets/css/_reset.css");
@import url("/assets/css/_fonts.css");

@import url("/assets/css/components/button.css");
@import url("/assets/css/components/card.css");

@import url("/assets/css/header.css");
@import url("/assets/css/menu.css");

@import url("/assets/css/landing-section.css");

@import url("/assets/css/about-style.css");
@import url("/assets/css/subscription_tiers_and_partners.css");
@import url("/assets/css/login.css");
@import url("/assets/css/contact.css");

* {
  font-family: TTNormsPro;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #242424;
}

.wrapper {
  background-color: black;
  max-width: min(100vw, 1200px);
  width: 100%;
  margin: 0 auto;
  overflow: scroll;
}

@media (max-width: 768px) {
  section {
    max-width: 99vw;
  }
}

main {
  position: relative;
}

.contact-us-card {
  width: max-content;
  padding: 0.5% 3%;
  position: fixed;
  top: 27%;
  right: 0;
  background-color: white;
  text-align: center;
  z-index: 999;
  border-radius: 4px;
  margin: inherit;
}

.contact-us-card > div {
  color: var(--c_green);
}

.contact-us-card > p {
  font-weight: 600;
  margin-bottom: 0.2rem !important;
}
