section#our-mission {
  position: relative;
  background: no-repeat center/cover
    url("/assets/images/homepage-background.jpg");
  background-position: 0% 100%;
  color: black;
}

#our-mission {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 100;
}

#our-mission .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 50vw;
  padding: 2%;
  margin: 5% auto;
}

@media (max-width: 768px) {
  #our-mission .menu {
    display: none;
  }

  #our-mission .card {
    width: 90vw;
    max-width: 95vw;
    height: 70vh;
    margin: 5% auto;
    padding: 2% 15%;
  }

  #our-mission .card {
    font-size: var(--font_size-details);
  }
}

#our-mission .card:hover {
  opacity: 1;
}

#our-mission .card .card-title {
  font-weight: bold;
  font-size: var(--font_size-heading);
  border-bottom: 5px solid var(--c_green);
  margin-bottom: 7%;
}

#our-mission .card p {
  text-align: left;
  margin-bottom: 5%;
}
