#login{
    background:no-repeat 100%/100% url("/assets/images/login-background.jpg") rgba(242,234,228,255);
    background-size: cover;
}
#content{
    background:transparent;
    padding-top: 5rem;
    padding-bottom: 20rem;
}
#title{
    padding-left: 3vw;
    font-size: 6vw;
}
#login-link{
    padding-left: 3vw;
    font-size: 3vw;
}
a{
    text-decoration: underline !important;
}

.sub{
    text-decoration: none !important;
    color: white;
}