.primary-btn {
  padding: 5px 20px;
  color: white;
  background-color: var(--c_green);
  border-radius: 4px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 15px 5px rgba(199, 190, 190, 0.59);
}

.primary-btn:hover {
  transform: scale(1.1);
}

.primary-btn > a {
  text-decoration: none !important;
  color: white;
}
