.top-nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: var(--font_size-details);
  z-index: 9999;
  background: no-repeat center linear-gradient(to bottom, black, 85%, #ffffff00);
  color: white;
  padding: 1vh 0;
}

.top-nav .logo {
  flex-basis: 20%;
  height: 100px;
  width: 100px;
  background: no-repeat center/70%
    url("/assets/images/logo_transparent_white.png");
}

.top-nav .action-menu {
  padding-left: 8%;
  align-content: flex-start;
  flex-basis: 20%;
}

@media (max-width: 768px) {
  .top-nav {
    height: 10vh;
  }

  .top-nav .logo {
    width: 4vw;
    margin-right: 5%;
    background: no-repeat center/50%
      url("/assets/images/logo_transparent_white.png");
  }

  .top-nav .action-menu {
    display: none;
  }
}
